<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Home-Kontrol Squad Security Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Security, Security service, security agency,gaurding, kontrol squad, personal security,professional security, security company, personal security,industrial security, organizational security,residential security">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="description" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent">
    <!--Facebook tags-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url"
        content="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206" />
    <meta property="og:title" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />


    <!--  Twitter Card-->
    <meta property="twitter:card" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:site" content="website" />
    <meta property="twitter:title"
        content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:url" content="https://twitter.com/SquadKontrol" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <section>
        <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="padding-top:0; ">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand " href="#"> <img class="brandimage" src="../static/images/logo.png" alt=""> </a>
                <a class="navbar-brand  me-auto" href="#">KONTROL SQUAD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#japlenonavbar"
                    aria-controls="japlenonavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="japlenonavbar">


                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">COMPANY PROFILE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services">SERVICES</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="policies.html" id="navbardorpdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">ABOUT US</a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdown">

                                <li> <a class="dropdown-item" href="/policies">POLICIES | LEADERSHIP</a> </li>

                                <li class="dropdown-divider"></li>

                                <li> <a class="dropdown-item" href="/career">CAREER </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


    </section>
    <!-- main-home -->
    <section class="home container-fluid">
        <div id="carousel-main" class="carousel carousel-dark slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carousel-main" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active data-bs-interval=" 1000"">
                    <img src="../static/images/main.png" class="d-block w-100" width="100%" alt="...">
                    <div class="carousel-caption   d-md-block">
                        <h1>Create the world, Let us protect it.</h1>
                        <h4>Security Service Provider in India</h4>
                    </div>
                </div>
                <div class="carousel-item data-bs-interval=" 1000"">
                    <img src="../static/images/main2.png" class="d-block w-100" width="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>OUR COMMITMENT</h1>
                        <h4>Get eyes of protection.</h4>
                    </div>
                </div>
                <div class="carousel-item data-bs-interval=" 1000" ">
      <img src="../static/images/main3.png" class="d-block w-100" width="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1> INTELLIGENCE</h1>
                        <h4>Experts and investigation are hand-in-hand.</h4>
                    </div>
                </div>
                <div class="carousel-item data-bs-interval=" 1000" ">
      <img src="../static/images/dog-squad.png" class="d-block w-100" width="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>OUR SQUAD</h1>
                        <h4>Developed Resources For Vigilant And Cost-effective-security</h4>
                    </div>
                </div>
                <div class="carousel-item data-bs-interval=" 1000" ">
      <img src="../static/images/camera.png" class="d-block w-100" width="100%" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Advance Technology</h1>
                        <h4>Alerting today for a better tomorrow.</h4>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-main" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- .......................welocme section ...........................................-->
    <section class="welcome container-fluid">
        <div class="row jusify-content-center" style="background-color:#00113f; color:#fff; padding:2%;">

            <div class="profile_home_head  text-center">
                <h4><strong>Kontrol Squad Security Group </strong> is one of the fastest
                    growing security agency in India. Responding to the ever-increasing threats of crimes and
                    terror</h4>

            </div>
            <div class=" col-lg-7  col-md-7 col-sm-7 col-7 ">
                <p style="font-size:1.1rem; background-color:#03256C; padding:6%; padding-right:15%;">
                    Today, we have grown into a gigantic lass force with professionally trained security personnel
                    throughout India.
                    It is a sprightly proliferating venture. The prosperity of this organization is that we provide
                    advanced
                    and specialized security services as we go long way in order to secure your home, business, and any
                    other
                    valuable asset you may have.
                    <br><br>
                    We have earned our humble success and reputation by delivering a safe environment through excellence
                    in performance and achieving client satisfaction.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-5 profile_home_img">
                <br>
                <br>

                <img class="img-thumbnail" src="../static/images/kontrolsecurities.png" height="300vh" width="300vh" alt="">
            </div>
            <div class=" text-center">
                <h4> Founded in 2015 at the edge of India. <br>
                    Kontrol Squad's history proof that space <br>is truly within our reach</h4>
            </div>



            <!--  -->

    </section>
    <section class=" gallery container-fluid">
        <center>
            <h1 style="padding-top:2%;">WHAT WE SERVE....</h1>
        </center>

        <div class="row justify-content-evenly" style="margin:6%; ">

            <div class=" col-lg-4 col-md-5 col-sm-10 col-10">
                <img src="../static/images/personal security.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Personal Security</h3>
                        <p>We have extensive and specialized experience monitoring the safety of the client and
                            escorting them to public settings.</p>
                    </center>

                </div>
            </div>

            <div class=" col-lg-4 col-md-5 col-sm- 10 col-10 ">
                <img src="../static/images/industrial security.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Industrial Security</h3>
                        <p>Catering to the manpower needs, we provide resiliently active guarding. We endeavor to
                            eliminate all security risks. </p>
                    </center>
                </div>

            </div>

            <div class=" col-lg-4 col-md-5 col-sm-10 col-10">
                <img src="../static/images/organizational security.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Organizational Security</h3>
                        <p>Dispense armed, unarmed security services, patrol services, and surveillance equipment and
                            assist.</p>
                    </center>
                </div>
            </div>





            <div class="col-lg-4 col-md-5 col-sm-10 col-10">
                <img src="../static/images/residential security.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Residential Security</h3>
                        <p>Perform Surveillance We proessionally train our guards for patrolling. </p>
                    </center>
                </div>

            </div>
            <div class="col-lg-4 col-md-5 col-sm-10 col-10">
                <img src="../static/images/detective.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Detective Security</h3>
                        <p>Intrusion detection systems detects and report undesirable events that are taking place.</p>
                    </center>
                </div>
            </div>
            <div class=" col-lg-4 col-md-5 col-sm-10 col-10">
                <img src="../static/images/electric security.png" height="250vh" width="350vh" alt="...">
                <div class="gallery_content">
                    <center>
                        <h3>Electronic Security</h3>
                        <p>CCTV surveillance system for live monitoring of the internal and external activities</p>
                    </center>
                </div>
            </div>
        </div>


        </div>


    </section>

    <section class="container-fluid">
        <div class="row jusify-content-evenly container-fluid">
            <div class="col-lg-7 col-md-6 col-sm-8 col-10 ">
                <div class="yellow_statement">

                </div>
                <div class="statement_content" style="background-color:#E8F0F2; padding:7%;">
                    <h3>Longed for setting high standards</h3>
                    <h4>Obstinate attribute of life</h4>
                    <p style="font-size:1.4rem; ">We are unabatedly committed to addressing the needs of all clients and
                        stakeholders.
                        As we go am extra mile for our clients and employees.
                        It means adhering to a strict code of ethics and professional conduct.
                        It has achieved by accumulating the correct information from clients to dispense the best
                        functioning and operational solution</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-7   d-grid   mx-auto mt-3">
                <a href="#mission" class="btn btn-lg btn-block" style="background-color:#FFC93C; color:#fff;"> Mission
                    <span> <img src="../static/images/mission.png" alt=""> </span> </a><br>
                <a href="#vision" class="btn btn-lg btn-block" style="background-color:#FFC93C; color:#fff;">Vision
                    <span> <img src="../static/images/vision.png" alt=""> </span> </a><br>

                <a href="#values" class="btn btn-lg btn-block"
                    style="background-color:#FFC93C; color:#fff;">Values<span> <img src="../static/images/development.png" alt="">
                    </span> </a><br>
                <a href="profile.html" class="btn btn-lg btn-block"
                    style="background-color:#FFC93C; color:#fff;">Read-More <span> <img src="../static/images/read-more.png"
                            alt=""> </span> </a><br>

            </div>
        </div>

        <div class="row jusify-content-evenly container-fluid mt-3">

            <div class="col-lg-7 col-md-6 col-sm-8 col-10 " id="mission">
                <div class="color_statements">

                </div>
                <div class="statement_content" style="background-color:#E8F0F2; padding:7%;">
                    <h3>Mission</h3>
                    <hr>
                    <p style="font-size:1.4rem; ">Work with clients to understand their business methodology,
                        objectives, and needs, deploy consultants with the client to work on system design and
                        possible solutions, and jointly identify the way forward. Define functional and technical
                        architectures to address business needs. We believe that technology is valuable to the extent
                        that it helps our client fulfill their unique objectives.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-7   d-grid   mx-auto mt-3 ">
                <img src="../static/images/our-mission.png" height="250vh" width="350vh" alt="">
            </div>
        </div>

        <div class="row jusify-content-evenly container-fluid mt-3" id="vision">
            <div class="col-lg-3 col-md-4 col-sm-7 col-7   d-grid  ms-3 mt-3 ">
                <img src="../static/images/our-vision.jpg" height="250vh" width="350vh" alt="">
            </div>
            <div class="col-lg-7 col-md-6 col-sm-8 col-10 ms-auto container-fluid ">
                <div class="color_statement">

                </div>
                <div class="statement_content" style="background-color:#E8F0F2; padding:7%;">
                    <h3>Vision</h3>
                    <hr>
                    <p style="font-size:1.4rem; ">We are committed to the ongoing improvement of the services
                        we provide to our clients. By investing in and developing our most important assets, our staff,
                        we aim to achieve all our goals and exceed our clients’ expectations. Through our commitment to
                        high
                        standards it is our vision to earn the trust of our clients by delivering the best quality
                        security services.</p>
                </div>
            </div>

        </div>




        <div class="row jusify-content-evenly container-fluid mt-3" id="values">

            <div class="col-lg-7 col-md-6 col-sm-8 col-10 ">
                <div class="color_statements">

                </div>
                <div class="statement_content" style="background-color:#E8F0F2; padding:7%;">
                    <h3>Values</h3>
                    <hr>
                    <p style="font-size:1.4rem; ">As a company and as individuals we value above all else honesty,
                        integrity, unselfishness, professionalism and mutual respect. For our staff, we offer a
                        rewarding
                        and challenging environment where personal development can flourish. We hold ourselves
                        accountable
                        to our clients, staff and partners by honouring our commitments, providing results and
                        continually
                        striving to provide the highest quality security services.

                    </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-7   d-grid   mx-auto mt-3">
                <img src="../static/images/values.jpg" height="250vh" width="350vh" alt="">
            </div>

        </div>
    </section>
    <!-- ............................................................. -->
    <section class="container-fluid">
        <center>
            <h1 style="margin:4% ">Evolving By The Hour</h1>
        </center>
        <div class="row justify-content-evenly">
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/manned-guard.png" height="130vh" width="130vh" alt="">

                    <h4>Manned Guard</h4>
                    <p>Reliable manned guarding for your business</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/k9.png" height="130vh" width="130vh" alt="">

                    <h4>K9</h4>
                    <p>Dog patrols and guarding that deliver an effective deterrent</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/static security.png" height="130vh" width="130vh" alt="">

                    <h4>Static Security</h4>
                    <p>Looking after your premises and people.</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/mobile-patrol.png" height="130vh" width="130vh" alt="">

                    <h4>Mobile Patrols</h4>
                    <p> Highly visible patrols that cover large sites</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/alarm-response.png" height="130vh" width="130vh" alt="">


                    <h5>Alarm Response</h5>
                    <p> 24/7 365 alarm and CCTV activations</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/reception.png" height="130vh" width="130vh" alt="">
                    <center>
                        <h5>Concierge & Reception</h5>
                        <p>Create a great first impression whilst securing your premises</p>
                    </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center>
                    <img class="img-fluid" src="../static/images/construction.png" height="130vh" width="130vh" alt="">

                    <h5>Construction & Demolition</h5>
                    <p>Tailor made solutions to protect your construction or demolition project</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center><img class="img-fluid" src="../static/images/traveller-removal.png" height="130vh" width="130vh" alt="">

                    <h5>Traveller Removal</h5>
                    <p>Remove Travellers from your property or premises in 24 hours</p>
                </center>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                <center><img class="img-fluid" src="../static/images/enforcement.png" height="130vh" width="130vh" alt="">

                    <h5>Enforcement</h5>
                    <p>Dedicated High Court enforcement service when you need it</p>
                </center>
            </div>
        </div>

    </section>
    <section>
        <div class="map container-fluid">

            <iframe class="responsive_iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.7941700959755!2d77.1059505126155!3d28.69580312651714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03f90a4c261f%3A0xf576492ec9d43d1a!2s3%2C%20Pocket%203%2C%20Sector%202%2C%20Rohini%2C%20Delhi%2C%20110085!5e0!3m2!1sen!2sin!4v1625109548968!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
    <!-- ......................footer section.................... -->

    <section class="footer container-fluid">
        <div class="row justify-content-evenly about_footer">

            <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                <h4 class="about_footer">KONTROL SQUAD SECURITES </h4>
                Kontrol Squad Group had established in New Delhi in 2015. Today we have grown
                into a gigantic lass force employing professionally trained security personnel throughout India
            </div>


            <div class="col-lg-3 col-md-4 col-sm-10 col-12 ">
                <h4 class="about_footer">SECURITY SERVICES</h4>
                <ul style="list-style-type:square;">
                    <li>Personal Security|PSO</li>
                    <li>Industrial Security</li>
                    <li>Organizational Security</li>
                    <li>Electronic Security</li>
                    <li>Detective Security</li>
                    <li>Residential Security</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                <h4 class="about_footer">CONTACT US</h4>
                <h5>Delhi (Regd. Office)</h5>
                <i class="fas fa-map-marked-alt"></i> No.-3,Pocket-8,Sector-2,Rohini,New Delhi.<br>
                <i class="fas fa-blender-phone"></i> 9717891022, 8448859864<br>
                <i class="fas fa-envelope-open-text"></i> kontrolsquadservices@gmail.com <br>
            </div>

        </div>




        <div class="row justify-content-evenly footer_links">
            <div class="col-lg-6 col-md-6 col-sm-8 col-10  ">

                <p class="copyright">Kontrol Squad Security © 2021 All Rights Reserved</p>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-10 text-center">
                <a class="icon"
                    href="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206"><i
                        class=" social-icon fab fa-facebook-f"></i></a>
                <a class="icon" href="https://twitter.com/SquadKontrol"><i class="social-icon fab fa-twitter"></i></a>
                <a class="icon" href="https://www.linkedin.com/in/kontrol-squad-210b3a216/"><i
                        class="social-icon fab fa-linkedin-in"></i></a>
                <a class="icon" href="https://www.instagram.com/kontrolsquadservices/"><i
                        class="social-icon fab fa-instagram"></i></a>
            </div>
        </div>

    </section>


</body>

</html>