<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Home-Kontrol Squad Security Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Security, Security service, security agency,gaurding, kontrol squad, personal security,professional security, security company, personal security,industrial security, organizational security,residential security">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="description" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent">
    <!--Facebook tags-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url"
        content="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206" />
    <meta property="og:title" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />


    <!--  Twitter Card-->
    <meta property="twitter:card" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:site" content="website" />
    <meta property="twitter:title"
        content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:url" content="https://twitter.com/SquadKontrol" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



</head>

<body>
    <section>
        <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="padding-top:0; ">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand " href="#"> <img class="brandimage" src="../static/images/logo.png"
                        alt=""> </a>
                <a class="navbar-brand  me-auto" href="#">KONTROL SQUAD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#japlenonavbar"
                    aria-controls="japlenonavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="japlenonavbar">


                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">COMPANY PROFILE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services">SERVICES</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="policies.html" id="navbardorpdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">ABOUT US</a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdown">

                                <li> <a class="dropdown-item" href="/policies">POLICIES | LEADERSHIP</a> </li>

                                <li class="dropdown-divider"></li>

                                <li> <a class="dropdown-item" href="/career">CAREER </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


    </section>

    <section class="container_fluid">
        <section class="policies_header " style="background-color:#D1D9D9;">
            <br>
            <h1>POLICIES AND LEADERSHIP</h1>
        </section>
        <!-- .......................................................... -->
        <section class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-6 col-sm-8 col-10 mt-3" style="background-color:#E8F0F2; padding:7%;">
                    <h2>Management Consesus</h2>
                    <p> Our security experts have decades of experience with proficient managing skills with
                        implementing security protocol and guide us in all aspects.
                        This high standard of security is achieved by our team of qualified cooperative experts
                        with highly classified policies that are well implemented with a quick and proactive human
                        response that ensures effectual, coherent, and efficient services.</p>
                </div>
            </div>
        </section>
        <!-- ............................................................... -->
        <section class="container_fluid">
            <div class="row jusify-content-evenly container-fluid">
                <div class="col-lg-7 col-md-6 col-sm-8 col-10 mt-3 ">
                    <div class="yellow_statement">

                    </div>
                    <div class="statement_content" style="background-color:#E8F0F2; padding:4%;">
                        <h2>Soultions Offered by us</h2>
                        <hr>
                        <p>
                        <ul style="list-style-type:square;font-size:1.2rem;">
                            <li>Visitor Management System </li>
                            <li>Home Automation System</li>
                            <li>Video Conferencing System</li>
                            <li>Vehicle Surveillance System</li>
                            <li>Itegrated Management System</li>
                            <li>Inventory Managaement System</li>
                            <li>Access control </li>
                            <li>x-ray baggage scanner</li>
                            <li>Hand-Held metal detector</li>
                            <li>Fire prevention and detection solutions</li>
                            <li>Multi-zone door frame metal detectors</li>
                            <li> Identification and attendance management</li>

                            </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-7 col-7   d-grid   mx-auto mt-3">
                    <img class="img-fluid" src="../static/images/electronic security.jpg" alt="">
                    <img class="img-fluid" src="../static/images/cam.png" alt="">
                </div>
            </div>
        </section>
        <!-- ...........................training and development............................ -->
        <section class="container-fluid">
            <div class="row justify-content-evenly">
                <div class="col-lg-3 col-md-3 col-sm-10 col-10 mt-3">
                    <img class="img-fluid" src="../static/images/investigation.jpg" alt="">
                </div>

                <div class="col-lg-7 col-md-7 col-sm-10 col-10 mt-3">
                    <h1>Quality Policies</h1>
                    <p>
                    <ul>
                        <li> Access Control Policy (ACP)</li>
                        <li>Information Security Policy</li>
                        <li>Incident Response (IR) Policy</li>
                        <li>Remote Access Policy</li>
                        <li>Email/Communication Policy</li>
                        <li>Business Continuity Plan (BCP)</li>
                        <li> Proper Investigation</li>
                        <li>complete satisfaction of our client</li>

                    </ul>
                    </p>
                </div>
            </div>
        </section>
        <section class="container-fluid">
            <div class=" container" style="background-color:#E8F0F2; ;padding:2%;">
                <h2>Why Trust Us</h2>
                <hr>
                <div class="" style="font-size:1rem;">
                    <p>
                    <ul style="list-style-type:square;">
                        <li> When you’re looking for reliable manned guarding services Kontrol Squad Security should be
                            your first call. We can offer you a dedicated service that’s tailor made to your business
                            requirements.</li>
                        <li>We provide teams of professional, uniformed security officers who carry out a range of man
                            guarding security duties. This includes business safeguarding through to reception and
                            concierge operations.</li>
                        <li>Our responsive team of dedicated man guarding officers ensure your business is secured
                            24/7.<br>
                        <li>We offer manned guards across single and multi-site locations which is one of the reasons
                            that manned security guarding is still one of the most effective measures to ensure the
                            security of your organization. </li>
                    </ul>
                    </p>
                </div>


            </div>
        </section>

        <section class="container-fluid">

            <div class="row ">
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img class="img-fluid" src="../static/images/doors.png" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img src="../static/images/housekeeping.png" height="200vh" width="200vh" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img src="../static/images/technical.png" height="200vh" width="200vh" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img src="../static/images/theif.png" height="200vh" width="200vh" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img src="../static/images/house.png" height="200vh" width="200vh" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5 col-5">
                    <img src="../static/images/guard.png" height="200vh" width="200vh" alt="">
                </div>
            </div>


        </section>

        <!-- ......................footer section.................... -->

        <section class="footer container-fluid">
            <div class="row justify-content-evenly about_footer">

                <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">KONTROL SQUAD SECURITES </h4>
                    Kontrol Squad Group had established in New Delhi in 2015. Today we have grown
                    into a gigantic lass force employing professionally trained security personnel throughout India
                </div>


                <div class="col-lg-3 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">SECURITY SERVICES</h4>
                    <ul style="list-style-type:square;">
                        <li>Personal Security|PSO</li>
                        <li>Industrial Security</li>
                        <li>Organizational Security</li>
                        <li>Electronic Security</li>
                        <li>Detective Security</li>
                        <li>Residential Security</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">CONTACT US</h4>
                    <h5>Delhi (Regd. Office)</h5>
                    <i class="fas fa-map-marked-alt"></i> No.-3,Pocket-8,Sector-2,Rohini,New Delhi.<br>
                    <i class="fas fa-blender-phone"></i> 9717891022, 8448859864<br>
                    <i class="fas fa-envelope-open-text"></i> kontrolsquadservices@gmail.com <br>
                </div>

            </div>




            <div class="row justify-content-evenly footer_links">
                <div class="col-lg-6 col-md-6 col-sm-8 col-10  ">

                    <p class="copyright">Kontrol Squad Security © 2021 All Rights Reserved</p>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-10 text-center">
                    <a class="icon"
                        href="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206"><i
                            class=" social-icon fab fa-facebook-f"></i></a>
                    <a class="icon" href="https://twitter.com/SquadKontrol"><i
                            class="social-icon fab fa-twitter"></i></a>
                    <a class="icon" href="https://www.linkedin.com/in/kontrol-squad-210b3a216/"><i
                            class="social-icon fab fa-linkedin-in"></i></a>
                    <a class="icon" href="https://www.instagram.com/kontrolsquadservices/"><i
                            class="social-icon fab fa-instagram"></i></a>
                </div>
            </div>

        </section>


</body>

</html>