<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Services-Kontrol Squad Security Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Security, Security service, security agency,gaurding, kontrol squad, personal security,professional security, security company, personal security,industrial security, organizational security,residential security">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="description" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent">
    <!--Facebook tags-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url"
        content="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206" />
    <meta property="og:title" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />


    <!--  Twitter Card-->
    <meta property="twitter:card" content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:site" content="website" />
    <meta property="twitter:title"
        content="Kontrol Squad Security Services - Nationwide vigilant, Security excellent" />
    <meta property="twitter:url" content="https://twitter.com/SquadKontrol" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



</head>

<body>
    <section>
        <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="padding-top:0; ">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand " href="#"> <img class="brandimage" src="../static/images/logo.png"
                        alt=""> </a>
                <a class="navbar-brand  me-auto" href="#">KONTROL SQUAD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#japlenonavbar"
                    aria-controls="japlenonavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="japlenonavbar">


                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">COMPANY PROFILE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/services">SERVICES</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="policies.html" id="navbardorpdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">ABOUT US</a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdown">

                                <li> <a class="dropdown-item" href="/policies">POLICIES | LEADERSHIP</a> </li>

                                <li class="dropdown-divider"></li>

                                <li> <a class="dropdown-item" href="/career">CAREER </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


    </section>
    <section class="container_fluid">
        <section class="services_header " style="background-color:#D1D9D9;">
            <br>
            <h1>WHAT WE SERVE</h1>
        </section>
        <!-- service_main -->
        <section class="container-fluid service_main">

            <div class="row justify-content-evenly service_content">
                <div class="card col-lg-3 col-md-4 col-sm-10 col-12 mt-3 " style="width: 18rem;">
                    <img src="../static/images/hospital.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Healthcare Centers</h5>
                        <p class="card-text">Passionately secure your hospital and health clinics. We ensure to protect
                            medical staff, patients, visitors, and vendors.</p>
                        <a href="#hospital" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm- 10 col-10 mt-3 " style="width: 18rem;">
                    <img src="../static/images/hotel.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hotels | Restaurants</h5>
                        <p class="card-text">Our organization professionally trains our
                            guards for patrolling hotel grounds, parking lots, lobbies, and restaurants.</p>
                        <a href="#hotel" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span> <img
                                    src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images\event.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Event Management</h5>
                        <p class="card-text">We endeavor to eliminate all event security risks. We ensure the safety of
                            your guests and discourage agitators.</p>
                        <a href="#management" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/school.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Educational Institutes</h5>
                        <p class="card-text">School security encompasses all measures taken to combat threats to people
                            and property in education environments.</p>
                        <a href="#school" class="btn" style="background-color:#181f4b; color:#fff;">know-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/firms.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Enterprise|Firms</h5>
                        <p class="card-text">Dispense armed, unarmed security services, patrol services, and
                            surveillance equipment and assist.</p>
                        <a href="#firms" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span> <img
                                    src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/individual.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Personal Services</h5>
                        <p class="card-text">With extensive and specialized experience monitoring the safety of the
                            client and escorting to public settings.</p>
                        <a href="#individual" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/warehouse.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Warehouses</h5>
                        <p class="card-text">Integrated warehouse security system with inventory management system and
                            zoning of the warehouse.</p>
                        <a href="#warehouse" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/import and export.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Import and Export</h5>
                        <p class="card-text">Catering to the manpower needs in the Export/ Import Sector, we provide
                            resiliently active guarding.</p>
                        <a href="#import" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span>
                                <img src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/bank.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Banks</h5>
                        <p class="card-text"> Protecting cash and assets, protecting the safety of bank employees,
                            safeguarding critical information.</p>
                        <a href="#bank" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span> <img
                                    src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-10 col-10 mt-3" style="width: 18rem;">
                    <img src="../static/images/mall.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Malls & complexes</h5>
                        <p class="card-text"> Handgrip all retail shopping security services and systems..</p>
                        <a href="#mall" class="btn" style="background-color:#181f4b; color:#fff;">Read-More <span> <img
                                    src="../static/images/read-more.png" alt=""> </span> </a>
                    </div>
                </div>
            </div>


        </section>
        <!-- ................................................................... -->
        <section class="container-fluid">

            <div class="row justify-content-evenly about_services">
                <div id="hospital" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Healthcare Centers</h1>
                    <p>
                        Passionately secure your hospital and health clinics. We ensure to protect medical staff,
                        patients, visitors, and vendors.Our staff is fully trained for the threat
                        and hazards that impact the hospital’s operational capabilities
                    <ul style="list-style-type:square;">
                        <li> Patient/ Customer service</li>
                        <li> Access control</li>
                        <li> Traffic control</li>
                        <li> Internal and External Patrols</li>
                        <li> Emergency response</li>
                        <li> Physical intervention & public safety</li>
                        <li> Surveillance and investigation</li>
                        <li> IP escort and protection</li>
                    </ul>
                    </p>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class=" img-fluid right_img" src="../static/images/hospital.png" alt="">

                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class=" img-fluid left_img" src="../static/images/hotel.png" alt="">
                </div>
                <div id="hotel" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Hotels & Restaurants</h1>
                    <p>Our security protects hotel guests, employees, and property
                    <ul style="list-style-type:square;">
                        <li>Perform Surveillance
                            We proessionally train our guards for patrolling hotel grounds,
                            parking lots, lobbies, restaurants, and hallways. we provide a sense of
                            security to both hotel staff and guests simply by being present. we assigned guards
                            to a surveillance room, where they monitor the hotel via security cameras.</li>
                        <li>
                            Report to Supervisors and Management
                            Hotel security is responsible for reporting all suspicious activity to their supervisors
                            or hotel management.
                        </li>
                        <li>Escort People In/Out of the Hotel
                            Hotel security is also responsible for escorting guests and hotel staff to and from the
                            hotel.
                            Additionally, hotel security may need to escort belligerent guests off hotel property,
                            especially in hotels that have bars.</li>
                        <li>Maintain Order and Investigate Disturbances
                            Hotel security potentially maintain order among the different groups of guests.
                            Hotel security must be on call anytime during their shift to investigate disturbances
                            reported by hotel staff and guests
                        </li>
                    </ul>
                    </p>
                </div>

                <div id="management" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Event Management</h1>
                    <p>We endeavor to eliminate all event security risks. We ensure the safety of your guests and
                        discourage agitators from causing trouble.</p>
                    <ul style="list-style-type:square;">
                        <li>Constantly Screen Our Staff</li>
                        <li>Match IDs to Registration Information</li>
                        <li>Create Security Checkpoints</li>
                        <li>Keep Security Measures Visible</li>
                        <li>Keep Private Events Private</li>
                        <li>Develop an Emergency Plan</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class=" img-fluid right_img" src="../static/images/Event.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class=" img-fluid left_img" src="../static/images/school.png" alt="">
                </div>
                <div id="school" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Educational Institutes</h1>
                    <p>School security encompasses all measures taken to combat threats to education environments.
                    <ul style="list-style-type:square;">
                        <li>Sheltering of students from violence </li>
                        <li>Stratgeiclly handle vandalism</li>
                        <li>Surveillance</li>
                        <li>Biometrics</li>
                        <li>Maintain Rules and Regulations</li>
                        <li>School Security Fencing</li>
                        <li>Identification cards and badges</li>
                        <li>Identifying elements such as drugs and gang activity</li>
                    </ul>
                    </p>
                </div>
                <div id="firms" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Enterprise & Firms</h1>
                    <p>Dispense armed, unarmed security services, patrol services, and surveillance equipment and
                        assist. </p>
                    <ul style="list-style-type:square;">
                        <li>Inspect and patrol premises regularly</li>
                        <li>Monitor property entrance</li>
                        <li>Authorize entrance of people and vehicles</li>
                        <li>Report any suspicious behaviors and happenings</li>
                        <li>Secure all exits, doors, and windows</li>
                        <li>Monitor surveillance cameras</li>
                        <li>Submit reports of every suspicious action</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid right_img" src="../static/images/firms.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid left_img" src="../static/images/individual.png" alt="">
                </div>
                <div id="individual" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Guarding Service</h1>
                    <p>We have extensive and specialized experience monitoring the safety of the client and escorting
                        them to public settings.
                    <ul style="list-style-type:square;">
                        <li>Identifying suspicious behavior or unauthorized people.</li>
                        <li>Driving the client and safely fleeing the scene of a security threat</li>
                        <li>Checking for vulnerabilities at the client’s place and public venues</li>
                        <li>Recognize ins-and-outs of the clients’ schedules</li>
                        <li> Privy to confidential business and personal information</li>
                    </ul>
                    </p>
                </div>
                <div id="warehouse" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Warehouses</h1>
                    <p>Integrated warehouse security system with inventory management system and zoning of the
                        warehouse.
                    <ul style="list-style-type:square;">
                        <li>Establish a proper control for the outgoing shipping consignment</li>
                        <li>Devise a proper policy for trash and scrap removal from the warehouse</li>
                        <li>Guards are employed at the entrance and exit checkpoints</li>
                        <li>Respond to alarms and react in a timely manner</li>
                        <li>Provide assistance to people in need</li>
                        <li>Submit reports of daily surveillance activity</li>
                    </ul>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid right_img" src="../static/images/Warehouse.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid left_img" src="../static/images/import and export.png" alt="">
                </div>
                <div id="import" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Import & Export</h1>
                    <p>Catering to the manpower needs in the Export/ Import Sector, we provide resiliently active
                        guarding.
                    <ul style="list-style-type:square;">
                        <li>Physical partitions for receiving and dispatching the goods</li>
                        <li>Entrance and exit doors of the warehouse are protected with a powerful physical access
                            control system</li>
                        <li>Vehicle loading done through separate channels</li>
                        <li>CCTV surveillance system for live monitoring of the internal and external activities</li>
                        <li>Establish a proper control for the outgoing shipping consignment</li>
                        <li>Fire equipment is handled at appropriate positions</li>
                        <li>Report any suspicious behaviors and happenings</li>
                    </ul>
                    </p>
                </div>
                <div id="bank" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Banks</h1>
                    <p>Protecting cash and assets, protecting the safety of bank employees, safeguarding critical
                        information, and providing general security and safety services for their largest complexes.
                    <ul style="list-style-type:square;">
                        <li> stay alert to watch for potential threats to the safety of employees and customer</li>
                        <li> physical access control system</li>
                        <li>Vehicle loading done through separate channels</li>
                        <li>CCTV surveillance system for live monitoring of the internal and external activities</li>
                        <li>safeguard the financial assets of the branch.</li>
                        <li>Fire equipment is handled at appropriate positions</li>
                        <li>Report any suspicious behaviors and happenings</li>
                    </ul>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid left_img" src="../static/images/bank.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-8 col-10 mt-3">
                    <img class="img-fluid left_img" src="../static/images/mall.png" alt="">
                </div>
                <div id="mall" class="col-lg-7 col-md-7 col-sm-8 col-10 mt-3 about_services">
                    <h1>Malls & Complexes</h1>
                    <p>Handgrip all retail shopping security services and combat threats to the people and property.
                    <ul style="list-style-type:square;">
                        <li>Detect thieves that steal merchandise</li>
                        <li>physical access control system</li>
                        <li>Maintain comfortable shopping atmosphere</li>
                        <li>CCTV surveillance system and metal detection</li>
                        <li>Fire equipment is handled at appropriate positions</li>
                        <li>Report any suspicious behaviors and happenings</li>
                    </ul>
                    </p>
                </div>
            </div>

        </section>


        <!-- ......................footer section.................... -->

        <section class="footer container-fluid">
            <div class="row justify-content-evenly about_footer">

                <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">KONTROL SQUAD SECURITES </h4>
                    Kontrol Squad Group had established in New Delhi in 2015. Today we have grown
                    into a gigantic lass force employing professionally trained security personnel throughout India
                </div>


                <div class="col-lg-3 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">SECURITY SERVICES</h4>
                    <ul style="list-style-type:square;">
                        <li>Personal Security|PSO</li>
                        <li>Industrial Security</li>
                        <li>Organizational Security</li>
                        <li>Electronic Security</li>
                        <li>Detective Security</li>
                        <li>Residential Security</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-10 col-12 ">
                    <h4 class="about_footer">CONTACT US</h4>
                    <h5>Delhi (Regd. Office)</h5>
                    <i class="fas fa-map-marked-alt"></i> No.-3,Pocket-8,Sector-2,Rohini,New Delhi.<br>
                    <i class="fas fa-blender-phone"></i> 9717891022, 8448859864<br>
                    <i class="fas fa-envelope-open-text"></i> kontrolsquadservices@gmail.com <br>
                </div>

            </div>




            <div class="row justify-content-evenly footer_links">
                <div class="col-lg-6 col-md-6 col-sm-8 col-10  ">

                    <p class="copyright">Kontrol Squad Security © 2021 All Rights Reserved</p>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-10 text-center">
                    <a class="icon"
                        href="https://www.facebook.com/Kontrol-Squad-Security-Services-Pvt-Ltd-109572481391206"><i
                            class=" social-icon fab fa-facebook-f"></i></a>
                    <a class="icon" href="https://twitter.com/SquadKontrol"><i
                            class="social-icon fab fa-twitter"></i></a>
                    <a class="icon" href="https://www.linkedin.com/in/kontrol-squad-210b3a216/"><i
                            class="social-icon fab fa-linkedin-in"></i></a>
                    <a class="icon" href="https://www.instagram.com/kontrolsquadservices/"><i
                            class="social-icon fab fa-instagram"></i></a>
                </div>
            </div>

        </section>


</body>

</html>